@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.opening {
  animation: fadeIn 0.5s ease-in-out;
}

.closing {
  animation: fadeOut 0.5s forwards !important;
}

.hidden {
  opacity: 0 !important;
  transition: opacity 0.5s ease;
}

.visible {
  opacity: 1 !important;
  transition: opacity 0.5s ease;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 62.5%;
}

body {
  font-family: "Libre Baskerville", serif;
  font-weight: normal;
  color: #FFFFFF;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 2.5vw;
  gap: 2vh;
}
.header__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 2;
}
.header__start-slideshow {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: normal;
  letter-spacing: 2.57px;
  text-align: right;
  width: auto;
  background: none;
  color: #7D7D7D;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
.header__underline {
  width: 100%;
  height: 0.1rem;
  background-color: #E5E5E5;
}

.gallery-container {
  display: grid;
  grid-template: repeat(10, 5vw)/repeat(4, 1fr);
  grid-gap: 1.1vw;
  margin: 2.5vw;
  height: 70vh;
  position: relative;
}
.gallery-container__item > figure {
  position: relative;
}
.gallery-container__item > figure figcaption {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.gallery-container__item > figure img {
  width: 15vw;
  height: auto;
  cursor: pointer;
  object-fit: contain;
}

#item-0 {
  grid-column: 1/2;
}

#item-1 {
  grid-column: 2/3;
  grid-row: 1;
}

#item-2 {
  grid-column: 3/4;
  grid-row: 1;
}

#item-3 {
  grid-column: 4/5;
  grid-row: 1/span 1;
}

#item-4 {
  grid-column: 5/6;
  grid-row: 1/span 1;
}

#item-5 {
  grid-column: 1/2;
  grid-row: 4;
}

#item-6 {
  grid-column: 2/3;
  grid-row: 5;
}

#item-7 {
  grid-column: 3/4;
  grid-row: 4;
}

#item-8 {
  grid-column: 4/5;
  grid-row: 4;
}

#item-9 {
  grid-column: 5/6;
  grid-row: 5;
}

#item-10 {
  grid-column: 1/2;
  grid-row: 7;
}

#item-11 {
  grid-column: 3/4;
  grid-row: 7;
}

#item-12 {
  grid-column: 5/6;
  grid-row: 8;
}

#item-13 {
  grid-column: 4/5;
  grid-row: 8;
}

#item-14 {
  grid-column: 2/3;
  grid-row: 10/11;
}

.image-description {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  background-color: rgba(0, 0, 0, 0.1);
}
.image-description > span {
  color: #FFFFFF;
}
.image-description__name {
  text-align: left;
  font-weight: bold;
  font-size: 1.7rem;
}
.image-description__author {
  text-align: left;
  height: auto;
  font-size: 1.4rem;
}

@media (max-width: 480px) and (min-width: 320px) {
  html {
    font-size: 80%;
  }
  .gallery-container {
    display: flex;
    flex-direction: column;
  }
  .gallery-container__item {
    animation: slideUp 50s linear 0s;
  }
  .gallery-container__item > figure figcaption {
    bottom: 25rem;
  }
  .gallery-container__item > figure img {
    width: 100vw;
    height: 80vh;
  }
  .image-description {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .image-description__name {
    font-size: 2.4rem;
  }
  .image-description__author {
    font-size: 2.1rem;
  }
  .header__start-slideshow {
    font-size: 1rem;
  }
}
.modal-window {
  animation: fadeIn 0.5s ease-in-out;
  margin: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}
.modal-window__content {
  display: flex;
  gap: 1.5vw;
}
.modal-window__content__image-flex {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-window__content__story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15vh;
}
.modal-window__content__story__text {
  color: #7D7D7D;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  line-height: 2.8rem;
}
.modal-window__content__story__source {
  color: #7D7D7D;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.19rem;
}
.modal-window .image-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
.modal-window .image-details__author {
  color: #7D7D7D;
  font-size: 2.5rem;
}
.modal-window .image-details__name {
  max-width: 100%;
  color: #000000;
  font-weight: bold;
  font-size: 5.6rem;
  line-height: 6.4rem;
  text-align: left;
}

.author-image {
  width: 5vw;
  height: 8vh;
}

.art {
  position: relative;
  width: auto;
  max-height: 60vh;
  object-fit: cover;
}

.control-menu {
  margin: 5rem;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.control-menu__close-button {
  flex: 0 0 auto;
  width: 2vw;
  height: 2vh;
  color: #000000;
  cursor: pointer;
}
.control-menu__leftRight {
  display: flex;
  flex: 1;
  gap: 2rem;
}
.control-menu__leftRight__left, .control-menu__leftRight__right {
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.control-menu__leftRight__left:hover, .control-menu__leftRight__right:hover {
  opacity: 0.4;
}
.control-menu__leftRight div svg {
  width: 2vw;
  height: 3.5vh;
  color: #000000;
}

.year {
  font-size: 15rem;
  font-weight: bold;
  color: #F3F3F3;
  position: absolute;
  top: 10%;
  left: 72%;
}

.image-description-overview {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.1vh;
}
.image-description-overview__name, .image-description-overview__author {
  color: #000000;
}
.image-description-overview__name {
  font-size: 3rem;
  text-align: left;
  line-height: normal;
  text-wrap: none;
  font-weight: bold;
}
.image-description-overview__author {
  font-size: 2.7rem;
  text-align: left;
  line-height: normal;
}

.progress-bar {
  margin: 5rem;
  width: 95%;
  height: 0.7rem;
  animation: fadeIn 0.5s ease-in-out;
  background-color: #eee;
}
.progress-bar__fill {
  height: 100%;
  background-color: #000000;
  width: 0;
  transition: width 0.5s ease-in-out;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.view-image {
  cursor: pointer;
  position: absolute;
  top: 71vh;
  left: 3vw;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}
.view-image__icon {
  width: 1.5rem;
  height: 1.5rem;
}
.view-image__text {
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.modal {
  z-index: 10000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal .modal-container {
  margin: 4rem;
}
.modal .close-contnainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modal .full-image {
  display: block;
  max-width: 100%;
}
.modal .close-button {
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 0.3rem;
  cursor: pointer;
  text-align: end;
  padding-bottom: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
  transition: color 0.5s ease-in-out;
}
.modal .close-button:hover {
  color: #7D7D7D;
}



/*# sourceMappingURL=main.css.map */
