
// fonts
$main-font-family: "Libre Baskerville", serif;

//fonts-sizes
$font-name: 1.7rem;
$font-author: 1.4rem;

// mobile font sizes
$font-name-mobile: 2.4rem;
$font-author-mobile: 2.1rem;
$font-year-mobile: 4rem;

// Modal-window overview font-size
$font-name-overview: 3rem;
$font-author-overview: 2.7rem;