
// fonts
$main-font-family: "Libre Baskerville", serif;

//fonts-sizes
$font-name: 1.3rem;
$font-author: 1.1rem;

// mobile font sizes
$font-name-mobile: 2.4rem;
$font-author-mobile: 2.1rem;

$font-name-mobile-overview: 1.2rem;
$font-author-mobile-overview: 1rem;
$font-year-mobile-overview: .9rem;

// Modal-window overview font-size
$font-name-overview: 3rem;
$font-author-overview: 2.7rem;
$font-year-overview: 2.2rem;