// Media queries for medium laptops
@media screen and (max-width: 1600px) and (min-width: 1280px) {
  html {
    font-size: 65%;
  }

  .image-description {

    &__name {
      font-size: 1rem;
    }

    &__author {
      font-size: .8rem;
    }
  }

  .modal-window__content__image-flex {
    position: relative;
  }

  .modal-window__content__story__text {
    font-size: 1.3rem;
  }

  .modal-window__content__story {
    gap: 4.5vh;
  }

  .image-details {
    background-color: $white;
    top: -2%;
    left: -50%;
    position: absolute;
    &__name {
      font-size: 3.5rem !important;
    }

    &__author {
      font-size: 2rem !important;
    }
  }
// Media queries for the image full mode in the mobile devices with orientation landscape mode

@media (max-width: 1024px) and (orientation: landscape) {
  .modal-container .full-image img {
    max-width: 50%;
  }

  .full-image {
    display: block;
    text-align: center;
  }
  .close-container {
    text-align: center;
  }
}

  .gallery-image {
    align-self: flex-start;
  }

  .author-image {
    position: absolute;
    top: 88.5%;
  }
}

// Media queries for  medium-large tablets and small laptops
  @media screen and (max-width: 1279px) and (min-width: 769px) {
  html {
    font-size: 70%;
  }
  .gallery-container {
    display: block;
    column-count: 2;
    column-gap: 1.2rem;
    width: 100%;
    height: auto;

    &__item {
      position: relative;
      margin-bottom: 1rem;

      &:nth-child(n + 9):nth-last-child(-n + 15) {
        width: 90%;
      }
      &:nth-child(8),
      &:nth-last-child(15) {
        margin-bottom: 0;
      }

      & > figure  {
        position: relative;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
  .modal-window {
    margin: 0;
    overflow: auto;

    &__content {
      padding-left: 1.7rem;
      padding-right: 1.7rem;
      flex-direction: column;
      &__story {
        position: relative;
        gap: 1.2vh;
        &__text {
          font-size: 1.8rem;
          line-height: 3rem;
        }
      }
    }
    .image-details {
      align-items: center;
      gap: .2vh;
      margin-bottom: 1rem;
      &__name {
        font-size: 2.1rem;
        line-height: 2.26rem;
      }

      &__author {
        font-size: 1.5rem;
      }
    }
  }
  .author-image {
    align-self: center;
    width: 15vw;
    height: 15vh;
  }

  .year {
    font-size: 1.6rem;
  }
  .art {
    //max-height: 60vh;
  }

    .view-image {

      &__text {
        font-size: 1.2rem;
      }
    }

  .progress-bar {
    margin: 3rem 0 0 1.7rem;
  }

  .control-menu {
    margin: .8rem 1rem 0 .7rem;

    &__leftRight {
      gap: 2.5rem;

      & div svg {
        width: auto;
        height: auto;
      }
    }
    &__close-button {
      width: 4rem;
      height: 4rem;
    }
  }
    .modal-container {
      .full-image {
        //& img {
        //  max-width: 75%;
        //}
      }
      .close-button {
        font-size: 1.5rem;
      }
    }

    .image-description-overview {
      &__name {
        font-size: 2.2rem;
      }

      &__author {
        font-size: 1.7rem;
      }
    }
}


//Media queries for small tablets
@media screen and (max-width: 768px) and (min-width: 600px) {
  html {
    font-size: 70%;
  }
  .gallery-container {
    display: block;
    column-count: 2;
    column-gap: 1.2rem;
    width: 100%;
    height: auto;

    &__item {
      position: relative;
      margin-bottom: 1rem;

      &:nth-child(n + 9):nth-last-child(-n + 15) {
        width: 90%;
      }
      &:nth-child(8),
      &:nth-last-child(15) {
        margin-bottom: 0;
      }

      & > figure  {
        position: relative;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
  .modal-window {
    margin: 0;
    overflow: auto;

    &__content {
      padding-left: 1.7rem;
      padding-right: 1.7rem;
      flex-direction: column;
      &__story {
        position: relative;
        gap: 1.2vh;
        &__text {
          font-size: 1.4rem;
          line-height: 2.1rem;
        }
      }
    }
    .image-details {
      align-items: center;
      gap: .2vh;
      margin-bottom: 1rem;
      &__name {
        font-size: 2.1rem;
        line-height: 2.26rem;
      }

      &__author {
        font-size: 1.5rem;
      }
    }
  }
  .author-image {
    align-self: center;
    width: 15vw;
    height: 15vh;
  }

  .year {
    font-size: 1.4rem;
  }
  .art {
    max-height: 50vh;
  }

  .view-image {

    &__text {
      font-size: 1.1rem;
    }
  }

  .progress-bar {
    margin: 3rem 0 0 1.7rem;
  }

  .control-menu {
    margin: .8rem 1rem 0 .7rem;

    &__leftRight {
      gap: 2.5rem;

      & div svg {
        width: auto;
        height: auto;
      }
    }
    &__close-button {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
  .modal-container {
    .full-image {
      & img {
        max-width: 100%;
      }
      .close-button {
        font-size: 1.5rem;
      }
    }
  }
    .image-description-overview {
      &__name {
        font-size: 1.9rem;
      }

      &__author {
        font-size: 1.5rem;
      }
    }
}


// Media queries for mobile
@media screen and (max-width: 599px) and (min-width: 320px) {
  html {
    font-size: 80%;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    &__item {
      & > figure figcaption {
        bottom: 2rem;
      }
    }

    &__item > figure img {
      min-width: 95vw;
    }
  }

  .image-description {
    background-color: rgba(0, 0, 0, 0.3);

    &__name {
        font-size: $font-name-mobile;
    }

    &__author {
      font-size: $font-author-mobile;
    }
  }

  .header__start-slideshow {
    font-size: .7rem;
  }
  .modal-window {
    margin: 0;
    overflow: auto;
    &__content {
      padding-left: .7rem;
      padding-right: .7rem;
      flex-direction: column;

      &__story {
        position: relative;
        gap: 1.5vh;

        &__text {
          font-size: 1rem;
          line-height: 2.1rem;
        }
      }

      &__image-flex {
        z-index: 1;
      }
    }
  .image-details {
    align-items: center;
      gap: .2vh;
      margin-bottom: 1rem;
    &__name {
      font-size: 1.2rem;
      line-height: 2.26rem;
    }

    &__author {
      font-size: .8rem;
    }
  }
  }
  .art {
    max-height: 40vh;
  }

  .year {
  }

  .view-image {

    &__text {
      font-size: 1.2rem;
    }
  }

  .author-image {
    align-self: center;
    width: 20vw;
    height: 10vh;
  }

  .progress-bar {
    margin: 3rem 0 0 .7rem;
  }

  .control-menu {
    margin: .8rem 1rem 0 .7rem;

    &__leftRight {
      gap: 2.5rem;

      & div svg {
        width: auto;
        height: auto;
      }
    }
    &__close-button {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .image-description-overview {
    gap: .5vh;
    &__name {
      font-size: $font-name-mobile-overview;
    }

    &__author {
      font-size: $font-author-mobile-overview;
    }

    .year {
      font-size: $font-year-mobile-overview;
    }
  }
  .modal-container {
    .full-image {
      & img {
        max-width: 100%;
      }
    }
    .close-button {
      font-size: .8rem;
    }

  }
}


// Media queries for the image full mode in the mobile devices with orientation landscape mode

@media (max-width: 1024px) and (orientation: landscape) {
  .modal-container .full-image img {
    max-width: 35%;
  }

  .full-image {
    display: block;
    text-align: center;
  }
  .close-container {
    text-align: center;
  }
}