// Media queries for  tablets
  @media screen and (max-width: 1024px) and (min-width: 769px) {
  html {
    font-size: 70%;
  }
  .gallery-container {
    display: block;
    column-count: 2;
    column-gap: 1.2rem;
    width: 100%;
    height: auto;

    &__item {
      position: relative;
      margin-bottom: 1rem;

      &:nth-child(n + 9):nth-last-child(-n + 15) {
        width: 90%;
      }
      &:nth-child(8),
      &:nth-last-child(15) {
        margin-bottom: 0;
      }

      & > figure  {
        position: relative;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
  .modal-window {
    margin: 0;
    overflow: auto;

    &__content {
      padding-left: 1.7rem;
      padding-right: 1.7rem;
      flex-direction: column;
      &__story {
        position: relative;
        gap: 1.2vh;
        &__text {
          font-size: 1.8rem;
          line-height: 3rem;
        }
      }
    }
    .image-details {
      align-items: center;
      gap: .2vh;
      margin-bottom: 1rem;
      &__name {
        font-size: 2.1rem;
        line-height: 2.26rem;
      }

      &__author {
        font-size: 1.5rem;
      }
    }
  }
  .author-image {
    align-self: center;
    width: 15vw;
    height: 15vh;
  }

  .year {
    font-size: 7rem;
    top: 100%;
    left: 70%;
  }
  .art {
    //max-height: 60vh;
  }

    .view-image {
      left: 43%;

      &__text {
        font-size: 1.2rem;
      }
    }

  .progress-bar {
    margin: 3rem 0 0 1.7rem;
  }

  .control-menu {
    margin: .8rem 1rem 0 .7rem;

    &__leftRight {
      gap: 2.5rem;

      & div svg {
        width: auto;
        height: auto;
      }
    }
    &__close-button {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}


//Media queries for small tablets
@media screen and (max-width: 768px) and (min-width: 600px) {
  html {
    font-size: 70%;
  }
  .gallery-container {
    display: block;
    column-count: 2;
    column-gap: 1.2rem;
    width: 100%;
    height: auto;

    &__item {
      position: relative;
      margin-bottom: 1rem;

      &:nth-child(n + 9):nth-last-child(-n + 15) {
        width: 90%;
      }
      &:nth-child(8),
      &:nth-last-child(15) {
        margin-bottom: 0;
      }

      & > figure  {
        position: relative;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
  .modal-window {
    margin: 0;
    overflow: auto;

    &__content {
      padding-left: 1.7rem;
      padding-right: 1.7rem;
      flex-direction: column;
      &__story {
        position: relative;
        gap: 1.2vh;
        &__text {
          font-size: 1.2rem;
          line-height: 2.1rem;
        }
      }
    }
    .image-details {
      align-items: center;
      gap: .2vh;
      margin-bottom: 1rem;
      &__name {
        font-size: 2.1rem;
        line-height: 2.26rem;
      }

      &__author {
        font-size: 1.5rem;
      }
    }
  }
  .author-image {
    align-self: center;
    width: 15vw;
    height: 15vh;
  }

  .year {
    font-size: $font-year-mobile;
    top: 79%;
    left: 60%;
  }
  .art {
    max-height: 50vh;
  }

  .view-image {
    left: 43%;

    &__text {
      font-size: 1.1rem;
    }
  }

  .progress-bar {
    margin: 3rem 0 0 1.7rem;
  }

  .control-menu {
    margin: .8rem 1rem 0 .7rem;

    &__leftRight {
      gap: 2.5rem;

      & div svg {
        width: auto;
        height: auto;
      }
    }
    &__close-button {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
// Media queries for mobile
@media screen and (max-width: 600px) and (min-width: 320px) {
  html {
    font-size: 80%;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 3vh;

    &__item {
      & > figure figcaption {
        bottom: 2rem;
      }
    }

    &__item > figure img {
      min-width: 95vw;
    }
  }

  .image-description {
    background-color: rgba(0, 0, 0, 0.3);

    &__name {
        font-size: $font-name-mobile;
    }

    &__author {
      font-size: $font-author-mobile;
    }
  }

  .header__start-slideshow {
    font-size: .7rem;
  }
  .modal-window {
    margin: 0;
    overflow: auto;
    &__content {
      padding-left: .7rem;
      padding-right: .7rem;
      flex-direction: column;

      &__story {
        position: relative;
        gap: 1.5vh;

        &__text {
          font-size: 1rem;
          line-height: 2.1rem;
        }
      }

      &__image-flex {
        z-index: 1;
      }
    }
  .image-details {
    align-items: flex-start;
      gap: .2vh;
      margin-bottom: 1rem;
    &__name {
      font-size: 1.5rem;
      line-height: 2.26rem;
    }

    &__author {
      font-size: .9rem;
    }
  }
  }
  .art {
    max-height: 40vh;
  }

  .year {
    font-size: $font-year-mobile;
    top: 62%;
    left: 45%;
  }

  .view-image {
    left: 35%;

    &__text {
      font-size: 1.2rem;
    }
  }

  .author-image {
    width: 20vw;
    height: 10vh;
  }

  .progress-bar {
    margin: 3rem 0 0 .7rem;
  }

  .control-menu {
    margin: .8rem 1rem 0 .7rem;

    &__leftRight {
      gap: 2.5rem;

      & div svg {
        width: auto;
        height: auto;
      }
    }
    &__close-button {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .image-description-overview {
    gap: .5vh;
    &__name {
      font-size: 1.1rem;
    }

    &__author {
      font-size: .8rem;
    }
  }
  .modal-container {
    .full-image {
      & img {
        max-width: 100%;
      }
    }
    .close-button {
      font-size: .8rem;
    }

  }
}