.modal-window {
  animation: fadeIn .5s ease-in-out;
  margin: 5rem;
  //top: 0;
  //left: 0;
  //width: 100%;
  //height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  //z-index: 1000;

  &__content {
    display: flex;
    gap: 1.5vw;
    //z-index: 1000;
    &__image-flex {
      min-width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__story {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15vh;

      &__text {
        color: $dark-grey;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
        line-height: 2.8rem;
      }

      &__source {
        color: $dark-grey;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: left;
        letter-spacing: .19rem;
      }
    }
  }

  .image-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;

    &__author {
      color: $dark-grey;
      font-size: 2.5rem;
    }

    &__name {
      max-width: 100%;
      color: $black;
      font-weight: bold;
      font-size: 5.6rem;
      line-height: 6.4rem;
      text-align: left;
    }
  }
}

.author-image {
  width: 5vw;
  height: 8vh;
  object-fit: contain;
}

.art {
  position: relative;
  width: auto;
  max-height: 70vh;
  object-fit: contain;
}

.control-menu {
  margin: 5rem;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;

  &__close-button {
    flex: 0 0 auto;
    width: 2vw;
    height: 2vh;
    color: $black;
    cursor: pointer;
  }

  &__leftRight {
    display: flex;
    flex: 1;
    gap: 2rem;
    &__left,
    &__right, {
      cursor: pointer;
      transition: opacity .2s linear;

      &:active {
        opacity: 0.4;
      }
    }

    & div svg {
      width: 2vw;
      height: 3.5vh;
      color: $black;
    }
  }
}

.year {
  font-size: $font-year-overview;
  font-weight: bold;
  color: $black;
}

.image-description-overview {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.1vh;
  &__name,
  &__author {
    color: $black;
  }

  &__name {
    font-size: $font-name-overview;
    text-align: left;
    line-height: normal;
    text-wrap: none;
    font-weight: bold;
  }

  &__author {
    font-size: $font-author-overview  ;
    text-align: left;
    line-height: normal;
  }
}

.progress-bar {
  margin: 5rem;
  width: 95%;
  height: .7rem;
  animation: fadeIn .5s ease-in-out;
  background-color: #eee;

  &__fill {
    height: 100%;
    background-color: $black;
    width: 0;
    transition: width 0.5s ease-in-out;
  }
}

.disabled {
  opacity: .5;
  pointer-events: none;
}

.view-image {
  cursor: pointer;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1.5rem;

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: .2px;
  }
}

.gallery-image {
  position: relative;
  align-self: center;
}

